/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 * {
   -webkit-font-smoothing: antialiased;
  color: var(--main-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* ==========================================================================
Base styles
========================================================================== */

  html {
    --main-background: #222222;
    --main-color: #ebebeb;
    --main-background-inverted: #ebebeb;
    --main-color-inverted: #222222;
  }

  body {
    background-color: var(--main-background);
    font-size: 1em;
    line-height: 1.4;
  }

  .lower-layer {
    position: relative;
    z-index: 1; }

  .middle-layer {
    position: relative;
    z-index: 10; }

  .upper-layer {
    position: relative;
    z-index: 20; }

  #skip-to-content a {
    padding: 6px;
    position: absolute;
    top: -150px;
    left: calc(50% - 30px);
    -webkit-transition: top 1s ease-out, background is linear;
    transition: top 1s ease-out, background 1s linear; z-index: 30;color: var(--main-color);border: 1px solid var(--main-color);
  }

  #skip-to-content a:focus {
    top: 0px;
  }

  #cart {
    color: white;
  }

  /* COOKIE JAR */
  #cookie-jar {
    height: 60px;
    min-height: 60px;
    width: auto;
    position: fixed;
    bottom: 0px
  }
  #cookie-jar .flex-container {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  #cookie-jar p {
    text-align: left;
    margin: 5px 40px 5px 0px;
  }
  #cookie-jar a {
    text-decoration: underline;
  }
  #cookie-jar button {
    border: none;
    background-color: blue;
    min-width: 150px;
  }

  .container {
    margin: 10px;
  }

  .relative {
    position: relative;
  }

  /* Flex Box Start */

  .flex-box {
    display: -ms-flexbox;
    display: flex;
  }

  .flex-container {
    display: flex;
  }

  .flex-row {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex-center {
    justify-content: center;
    align-items: center;
  }

  .flex-item {
    flex: 1 0 auto;
  }

  /* Flex Box End */

  /* Header Start */

  .header-sales {
    color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
  }

  .header-nav-item {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    color: var(--main-color);/* CHANGE ME */
  }

  .header-nav {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-color);
    padding: 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  .header-nav:hover {
    background-color: var(--main-background-inverted);
    color: var(--main-color-inverted);
  }

  #nav-bar {
    margin: auto;

  }
  /* Header End */

  /* Content Zone: Hero */


  /* CZ End */

  /* Footer Start */

  #footer {position: relative;z-index: 49}

  .footer {background: inherit;color: inherit;}

  .footer a {text-decoration: none;}
  .footer ul {list-style-type: none;margin: 0;padding: 0;}
  .footer li {}
  .footer-links {}
  .footer-links-box {}
  .footer-links-box-title {font-size: 18px;letter-spacing: 0.5px;padding: 12px 10px;border-bottom: 1px solid #747474;position: relative;}
  .footer li.blind {display: none;font-size: 14px;line-height: 16px;padding-left: 10.4px;padding-bottom: 10px;}
  /* Social Media */
  .footer-social-links {display: flex;justify-content: center;align-items: center;width: 80%;margin: 27.5px auto 33px;}
  .footer-social-link {flex: 1;}
  .footer-social-link a span {display: block;width: 25px;height: 25px;margin: 0 auto;}
  .footer-social-image.twitter {background: url("https://iconfitness-res.cloudinary.com/image/upload/q_auto/v1/nordictrack.com/cdn/images/icons/icon-twitter-light.svg") no-repeat 50% 50%;}
  .footer-social-image.facebook {background: url("https://iconfitness-res.cloudinary.com/image/upload/q_auto/v1/nordictrack.com/cdn/images/icons/icon-facebook-light.svg") no-repeat 50% 50%;}
  .footer-social-image.pinterest {background: url("https://iconfitness-res.cloudinary.com/image/upload/q_auto/v1/nordictrack.com/cdn/images/icons/icon-pinterest-light.svg") no-repeat 50% 50%;}
  .footer-social-image.learn {background: url("https://iconfitness-res.cloudinary.com/image/upload/q_auto/v1/nordictrack.com/cdn/images/icons/icon-blog-light.svg") no-repeat 50% 50%;}
  .footer-social-image.google-plus {background: url("https://iconfitness-res.cloudinary.com/image/upload/q_auto/v1/nordictrack.com/cdn/images/icons/icon-googleplus-light.svg") no-repeat 50% 50%;}
  .footer-social-image.youtube {background: url("https://iconfitness-res.cloudinary.com/image/upload/q_auto/v1/nordictrack.com/cdn/images/icons/icon-youtube-light.svg") no-repeat 50% 50%;}
  .footer-social-image.instagram {background: url("https://iconfitness-res.cloudinary.com/image/upload/q_auto/v1/nordictrack.com/cdn/images/icons/icon-instagram-light.svg") no-repeat 50% 50%;}

  /* Copyright */
  .footer-copyright {text-align: center;font-size: 12px;line-height: 20px;}/* WCAG AA approved! */

  /* Footer End */


  @media screen and (max-width: 2560px) and (min-width: 1441px) {

    .header-logo {
      position: absolute;
      top: 18px;
      left: 30px;
      height: 300px;
      width: 113px;
    }

    #nav-bar {
      float: left;
    }

    .header-nav {
      font-size: 16px;
      letter-spacing: 1.1px;
      height: 100px;
    }
  }

  /* Mobile Styles */

  @media screen and (max-width: 960px) and (min-width: 501px) {

    .header-logo {
      position: absolute;
      top: 5px;
      left: 15px;
      width: 155px;
    }
    .header-logo img{
      height: auto;
      width: 100%;
    }

    .header-sales {
      position: absolute;
      top: 14px;
      right: 30px;
      height: auto;
      text-align: right;
    }

    .header-nav-category {
      width: auto;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 52px;
    }

    .header.mx {
      display: none;
    }

  .header-dx-nav {
    max-width: 750px;
    margin: 0 auto;
    padding-top: 49px;
  }


  .flex-item {
    -ms-flex: 1 0 auto;;
    flex: 1 0 auto;
  }

  .header-nav {
    font-size: 16px;
    letter-spacing: 1.1px;
  }

  .footer {padding-top: 28px;;}
  .footer-inner {max-width: 628px;margin: 0 auto;}
  .footer-links {display: flex;}
  .footer-links-box {flex: 1;}
  .footer-links-box-title {border: none;}
  .footer li.blind {display: block;color: #cacaca}
  .footer-social-links {width: 225px;margin: 45px 0 18px auto}
}


@media screen and (max-width: 500px) and (min-width: 320px) {

  .header-logo img{
  position: absolute;
  top: 18px;
  left: 30px;
  height: auto;
  width: 100%;
  }

  #nav-bar {
    display: hidden;
  }

  .header-nav {
    font-size: 16px;
    letter-spacing: 1.1px;

  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

